input#menuState(type="checkbox" style="display: none")
label.nav-menu-icon#menuToggle(for="menuState")
  .nav-menu-bread.nav-menu-bread__top
    .nav-menu-crust.nav-menu-crust__top
  .nav-menu-bread.nav-menu-bread__bottom
    .nav-menu-crust.nav-menu-crust__bottom