meta(charset="UTF-8")
meta(name="viewport" content="with=device-with, initial-scale=1, maximum-scale=2")
meta(name="theme-color" content="theme.android_chrome_color")
meta(name="generator" content="Hexo" + hexo_version)

if theme.favicon.apple_touch_icon
  link(rel="apple-touch-icon", sizes="180x180" href=url_for(theme.favicon.apple_touch_icon))
if theme.favicon.medium
  link(rel="icon", type="image/png" sizes="32x32" href=url_for(theme.favicon.apple_touch_icon))
if theme.favicon.small
  link(rel="icon", type="image/png" sizes="16x16" href=url_for(theme.favicon.apple_touch_icon))

link(rel="stylesheet" type="text/css" href=`${url_for(theme.css)}/main.css`)

if theme.gitalk.enable
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css")
  script(src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js")
