@keyframes switch-on {
  from {
    transform: translateX(-10px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes switch-off {
  from {
    transform: translateX(10px);
  }

  to {
    transform: translateX(0);
  }
}

.toggle {
  display: inline-block;
  transition: 200ms ease-out;
}

.toggle__track {
  position: relative;
  width: 30px;
  height: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.toggle__btn-outer {
  position: absolute;
  height: 20px;
  padding: 2px;
  width: 20px;
  box-sizing: border-box;
}

.toggle__btn {
  height: 16px;
  border-radius: 10px;
  width: 16px;
}

.toggle--off {
  .toggle__btn-outer {
    left: 0;
  }

  .toggle__track {
    background-color: #e0e0e0;
  }

  .toggle__btn {
    background-color: #fff;
    animation: switch-off 200ms 1 ease-out;
  }
}

.toggle--on {
  .toggle__btn-outer {
    right: 0;
  }

  .toggle__track {
    background-color: #444;
  }

  .toggle__btn {
    background-color: #fff;
    animation: switch-on 200ms 1 ease-out;
  }
}