doctype html
html(lang=config.language)
  head
    !=partial('_partials/head/head.pug', {}, {})
    include _partials/head/head-unique.pug
  body(itemscope itemtype="http://schema.org/WebPage")
    .container

      .header(itemscope itemtype="http://schema.org/WPHeader")
        .header-inner
          include _partials/header/index.pug
      
      .main
        block content
      
      include _partials/foot.pug

  script(src=url_for("js/page.js"))

  != partial('_scripts/index.pug', {}, {})

  != academic_inject('bodyEnd') 
