extends _layout.pug

block content
  .main__content--index.main__content

    .sidebar-outer
      .sidebar
        include _partials/author-overview/index.pug

    .main__content-inner
      - const index_post = site.posts.data.find(p => p.is_index);

      != partial("_macro/post.pug", { post: index_post, is_index: true })