{% extends "_layout.njk" %}
{% block content %}
  <div class="main__content--index main__content">
    <div class="sidebar-outer">
      <div class="sidebar">{% include "_partials/author-overview/index.njk" %}</div>
    </div>
    <div class="main__content-inner">
      <div class="tag-page__title">#{{page.tag}}</div>
      <div class="post-list">
        {{partial("./_macro/post_entry.njk",{is_blog: true, list: page.posts.toArray()})}}
      </div>
      <div class="paginator">{{ paginator() }}</div>
      {% include "_partials/foot.njk" %}
    </div>
  </div>
{% endblock content %}