$color-primary = #004D40;
$color-primary-brighter = #00695C;
$color-primary-brightest = #0c9181;
$color-active = #00695C;
// colors
$color-hover = #00796B;
$color-secondary = #00796B;
$color-complementary = rgb(166, 130, 0);
$color-border = #f0f0f0;
$color-border-dark = #333;
$color-font = #333;
$color-font-secondary = #444;
$color-font-lighter = #888;
$color-font-bold = #000;
$color-font-content = #000;
$light-color-bg = #fff;
$light-color-font = #333;
$light-color-bg-mask = rgba(128, 128, 128, 0.85);
$color-bg = #000;
$color-font = #000;
$color-bg-mask = rgba(255, 255, 255, 0.85);
$dark-color-bg = #0e0e0e;
$dark-color-font = #999;
$dark-color-bg-mask = rgba(15, 15, 15, 0.85);

// text
@font-face {
  font-family: quicksand;
  src: url('./font/quicksand.ttf');
}

@font-face {
  font-family: quicksand-light;
  src: url('./font/quicksand-light.ttf');
}

@font-face {
  font-family: DMSerif;
  src: url('./font/DMSerifDisplay-Regular.ttf');
}

$font-family = DMSerif;
$font-family-l = DMSerif;
$font-size-root = 18px;
$font-size-little = 0.825rem;
$font-size-small = 0.875rem;
$font-size-smaller = 0.8125em;
$font-size-title = 2rem;
$font-size = 1rem;
$font-post-title = 4rem;
$line-height = 1.5;