@import '_variables';
@import '_mixins';

$grey-lighter = #ddd;
$black-lighter = #3f3f3f;
$table-border-color = $grey-lighter;
$quote-border-color = $grey-lighter;
$table-border-color--dark = $black-lighter;
$quote-border-color--dark = $black-lighter;
$table-odd-line-bg = #fafafa;
$table-odd-line-bg--dark = #1b1b1b;

html, body {
  margin: 0;
  padding: 0;
}

hr {
  +dark() {
    border-color: $black-lighter;
  }
}

a {
  color: $link-color;
}

a:hover {
  color: $link-hover-color;
}

blockquote {
  border-left: 4px solid $quote-border-color;
  margin: 0;
  padding-left: 1em;

  +dark() {
    border-left: 4px solid $quote-border-color--dark;
  }
}

iframe, img, video {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: $font-size-small;
  width: 100%;
  margin: 0 0 20px;
}

caption, td, th {
  padding: 8px;
  vertical-align: middle;
  border: 1px solid $table-border-color;

  +dark() {
    border: 1px solid $table-border-color--dark;
  }
}

caption {
  border: none;
}

th {
  border-bottom-width: 3px;
}

tbody tr:nth-of-type(odd) {
  background: $table-odd-line-bg;

  +dark() {
    background: $table-odd-line-bg--dark;
  }
}

figure figcaption {
  text-align: center;
  font-size: $font-size-smaller;
  color: $blak-lighter;
}

p, figure {
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}