<div class="foot">
  <div class="foot-item">{{ theme.author.name }} © 2021</div>
  <div class="foot-item">
    Theme | <a href="https://github.com/hooozen/hexo-theme-academic">Hexo Academic</a>
  </div>
</div>
