<input id="menuState" style="display: none" type="checkbox" />
<label class="nav-menu-icon" id="menuToggle" for="menuState">
  <div class="nav-menu-bread nav-menu-bread__top">
    <div class="nav-menu-crust nav-menu-crust__top"></div>
  </div>
  <div class="nav-menu-bread nav-menu-bread__bottom">
    <div class="nav-menu-crust nav-menu-crust__bottom"></div>
  </div>
</label>
