@import '../_variables';

.post-list {
  a {
    display: inline-block;
  }

  .post-title {
    font-size: $font-size-title;
  }

  .post-info {
    justify-content: flex-start;
  }

  .post-card {
    margin: 50px 0;
  }
}