@import "../mixins";
@import "../_variables.scss";
@import "_components/toggle.scss";

.nav {
  height: 60px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  z-index: 999;

  @include desktop-large {
    width: 100%;
    max-width: 1400px;
  }

  @include desktop-largest {
    width: 1400px;
  }
}

.nav-menu-icon {
  display: none;
  position: absolute;
  height: 40px;
  width: 40px;
  margin: 10px;
  cursor: pointer;

  @include mobile() {
    display: block;
  }

}

.nav-menu-bread {
  height: 40px;
  width: 40px;
  position: absolute;
  transition: transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
}

.nav-menu-crust {
  height: 1px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  width: 28px;

  transition: top, bottom .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;

  &__top {
    top: 12px;
    background-color: $color-primary;
  }

  &__bottom {
    bottom: 12px;
    background-color: $color-primary-brighter;
  }
}

#menuState:checked {
  display: block;
}

#menuState:checked~.nav-menu-icon {
  .nav-menu-bread {
    transition: transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s;

    &__top {
      transform: rotate(45deg);
    }

    &__bottom {
      transform: rotate(-45deg);
    }

  }

  .nav-menu-crust {
    top: 20px;
    bottom: 20px;
    transition: top, bottom, .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
  }
}

.nav-logo {
  position: absolute;
  left: 0;
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 10px;
  background-size: 40px 40px;

  @include mobile() {
    left: 50%;
    transform: translateX(-30px);
  }
}

.nav-title {
  position: absolute;
  left: 60px;
  display: inline-block;
  line-height: 60px;
  font-size: 1.2em;

  @include mobile() {
    display: none;
  }
}

.nav-items-outer {
  margin-left: 315px;
  margin-right: 60px;

  @include mobile() {
    position: absolute;
    background-color: $color-bg-mask;
    top: 60px;
    height: 0px;
    border-bottom: 1px $color-border solid;
    overflow: hidden;
    transition: height 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    margin: 0;
    width: 100%;
  }
}

@include mobile() {
  @include dark() {
    .nav-items-outer {
      background-color: $dark-color-bg-mask;
      border-bottom: 1px $color-border-dark solid;
    }
  }
}

.nav-items {
  height: 60px;
  display: flex;
  justify-content: left;
  align-items: center;

  @include mobile() {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: transparent;
    margin: 0;
    height: 100%;
    max-height: 240px;
    padding-left: 50px;
  }
}

.nav-item {
  display: inline-block;
  text-decoration: none;
  position: relative;
  color: inherit;
  cursor: pointer;
  top: 0;
  transition: color 200ms ease-out;
  margin-right: 40px;
  padding: 4px 0;

  &::after {
    position: absolute;
    height: 1px;
    width: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: 0.3s ease-out;
    background-color: transparent;
    content: '';
  }

  &:hover {
    &::after {
      width: 100%;
      background: $color-primary-brightest;
    }

    color: $color-primary-brightest;
  }

  @include mobile() {
    margin: 0;
  }

  &--active {
    color: $color-primary-brighter;

    &::after {
      width: 100%;
      background: $color-primary-brighter;
    }
  }


}

.nav-light-toggle {
  position: absolute;
  right: 20px;
  top: 0;
  height: 60px;
  line-height: 60px;
}