.post-head {
  text-align: center;
  margin-bottom: 30px;
}

.post-title {
  font: {
    family: $font-family-l;
    size: $font-post-title;
  }
  line-height: 1.25;
}

.post-info {
  display: flex;  
  align-items: center;
  justify-content: center;
  color: $color-font-lighter;
  font-size: $font-size-little;
  &>div {
    margin-right: 0.5rem;
  }
}

.post-info__sep {
  flex: 0 0 2px;
  height: 0.825rem;
  background-color: $color-primary;
}

