@import '../_mixins';

.post-block {
  line-height: 1.5em;
  text-align: justify;
}

.post-head {
  text-align: center;
  margin-bottom: 30px;
}

.post-title {
  font-family: $font-family-l;
  font-size: $font-post-title;
  line-height: 1.25;
}

.post-info {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-font-lighter;
  font-size: $font-size-little;

  &>div {
    margin-right: 0.5rem;
  }
}

.post-tag {
  margin: 0 4px;
}

.post-info__sep {
  flex: 0 0 2px;
  height: 0.825rem;
  background-color: $color-primary;
}

.outline-anchor {
  text-align: right;
  position: relative;
}

.outline {
  display: inline-block;
  position: absolute;
  width: 300px;
  text-align: left;
  padding-left: 30px;
  top: 20px;
  overflow: hidden;
  box-sizing: border-box;
  line-height: 1.25em;

  ol {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  +tablet-mobile() {
    display: none;
  }
}

.main__content--index .outline {
  display: none;

  +desktop-large() {
    display: inline-block;
  }
}