@import '../_mixins';
@import '../_variables';

.post-entry {
  text-align: justify;
  margin: 0 0 40px;
  overflow: hidden;
}

.post-entry__body {
  display: flex;

  +tablet-mobile() {
    flex-wrap: wrap;
  }
}

.post-entry__cover {
  height: 150px;
  flex: 0 0 200px;
  overflow: hidden;
  border-radius: 4px;
  margin-right: 15px;

  +tablet-mobile() {
    margin: 5px;
    flex: 1;
  }
}

.post-entry__cover-img {
  height: 100%;
  width: 100%;
  background: url() center center / contain no-repeat;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;

  &--video {
    @extend .post-entry__cover-img;
    display: block;
    position: relative;

    &:hover {
      &::after {
        background-size: 60px 60px;
        background-color: rgba(0, 0, 0, 0.7);
      }
    }

    &::after {
      cursor: pointer;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.4) url('/images/icon-play.svg') center center / 50px 50px no-repeat;
      transition: all 0.2s ease-out;
    }
  }
}

.post-entry__head {
  margin: 0 0 10px;
}

.post-entry-title {
  font-weight: bold;
  font-size: 1.25em;
}

.post-entry-journal {
  font-style: italic;
}

.post-entry__abstract {
  display: block !important;
  color: inherit;
  max-height: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  line-height: 20px;

  &:hover {
    color: inherit;
  }

  +tablet-mobile() {
    max-height: 120px;
  }
}

.post-entry__abstract--paper {
  @extend .post-entry__abstract;

  &::after {
    position: absolute;
    color: $color-active;
    content: 'Full Text';
    bottom: 0;
    right: 0;
    width: 6em;
    text-align: right;

    @media (prefers-color-scheme: dark) {
      background: linear-gradient(to left, $dark-color-bg, $dark-color-bg 4em, transparent);
    }

    @media (prefers-color-scheme: light) {
      background: linear-gradient(to left, $light-color-bg, $light-color-bg 4em, transparent);
    }
  }
}

.post-entry__foot {
  color: $color-font-secondary;
  margin: 10px 0;
}

.post-entry__foot-item {
  display: inline-block;
  margin-right: 16px;
}